<ion-view view-title="{{title }}" cache-view="false">
	<!--
    	作者：157595075@qq.com
    	时间：2015-09-16
    	描述：页面控制器
    	  <ion-content ng-controller="ChartslistCtrl">
    -->
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#/app/highcharts">
        {{"Highcharts_Lang"|translate}}
		{{title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/app/echarts">
        {{"Echarts_Lang"|translate}}

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>