<ion-view >

	<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
     <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </div>
  <h1 class="title">highchart</h1>
  <div class="buttons">

  </div>
</ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#/app/highchart">
        {{"Highcharts_Lang"|translate}}
		{{title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/app/echarts">
        {{"Echarts_Lang"|translate}}

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>