<ion-view view-title="蓝宇开源demo">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><b>简介</b></div>
      <div class="item item-body">
        <div>
         	这是一个Hybrid App开源框架，基于ionic,angularjs,cordova,HTML5；并持续更新版本，增加Ui和设备插件。
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">当前版本号</div>
      <div class="item item-body">
        <div>
          v0.01
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">更新内容</div>
      <div class="item item-body">
        <div>
          v0.01：
          <p>1、增加左侧滑动ui</p>
          <p>2、增加echarts案例</p>
          <p>3、增加highcharts案例</p>
          <p>4、增加弹出登录form</p>
          <p>5、增加蓝牙通讯案例</p>
          <p>6、增加延迟加载</p>
          <p>7、增加国际化案例</p>
          <p>8、增加列表、查看列表案例</p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
