
/* Empty. Add your own CSS if you like */
.scroll-bar-v {
top: 2px;
right: 3px;
bottom: 2px;
width: 0px;
}
.circle {
position: absolute;
left: 50%;
margin-left: -109px;
margin-top: 35px;
width: 218px;
height: 218px;
background-color: #2dabb6; /* Can be set to transparent */
border: 3px #228C96 solid;
-webkit-border-radius: 130px;
}

.gw-main-box{
    min-height:320px;
    #background-color:#2dabb6;
}
.gw-main-box-head{
    min-height:320px;
    background-color:#2dabb6;
}


/*.gw-slide-box{
    position:relative;
}*/
.gw-slide-box i{

position: absolute;
}
.gw-slide-box div{
    #position:absolute;
    #top:32%;
    #left:50%;
    #font-size:80px;
    #margin-left:-40px;
    #color:#fff;
    #top: 130px;
}

/*±ý×´Í¼*/
.pieSeat{
    margin-top:20px;
    width:100%;
    text-align: center;

}
.pieSeat span{
	position:absolute;
    left:50%;
    font-size:38px;
    #font-weight: 800;
    color: 	#FFE6D9;
    width: 150px;
    text-align: center;
	margin-left: -75px;
	margin-top: 60px;
}
.pieSeat div{
margin: 8px;
}
.pieSeat .smallfont{
	color: #DAEAE7;
	font-size:5px;
	font-weight: 0;
}


/*¸²¸Çionic css*/
.slider-pager .slider-pager-page {
    color:#fff;
}

/*×ó²à±ßÀ¸*/
.menu-color{
    background-color:#2dabb6;
    border-bottom:10px;
    color:#fff;
    border-top: 1px solid #444444;
}

.button-color{
    color:#fff;
}

.playlist-list-font{
    color:#505050;
    font-size:16px;
    letter-spacing:1px;
}
.playlist-list-calorie{
    color:#aaa9a9;
    font-size:14px;
    letter-spacing:1px;
}