<style>
	.backcolor{
		background-color: #444444;
	}
	.logofont{
		position: absolute;
		padding: 20px;
		color: white;
		float: left;
		left: 90px;
		font-size: 20px;
	}
		.logofont-r{
		position: absolute;
		padding: 20px;
		color: white;
		float: left;
		right: 45px;
		font-size: 20px;
	}
	.item-content{
		background-color: #444444;
	}

	.backcolor-no{
		background-color: #444444;
		border-color: #444444;
		padding-left: 50px;
		min-height: 50px;
	}
	h2{
		#padding: 8px;
		color: white;
	}
	.menu-img{
		border-radius: inherit;
		max-width: 18px;
		max-height: 18px;
	}
	.bottom-font{
		position: absolute;
		bottom: 0px;
		font-size: 10px;
		color: white;
		width: 264px;
		left: 50%;
		margin-left: -132px;

	}
	.bar {
	    background-color:#2dabb6;

	    color:#fff;
		border-bottom: 0px solid #2dabb6;
	}
	.bar-header {
	top: 0;
	border-top-width: 0;
	border-bottom-width: 0px;
	}
	.bar .title {
	background-color:#2dabb6;
	}
	.bar.bar-stable {
	background-color:#2dabb6;
	border-color: #2dabb6;
	background-color: #2dabb6;
	background-image: linear-gradient(0deg, #2dabb6, #2dabb6 50%, transparent 50%);
	}
	.bar.bar-stable .title {
	color: #ffffff;
	}
</style>
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
  	<!--上方框 -->
	    <ion-nav-bar class="bar-stable" >

		      <ion-nav-back-button>
		      </ion-nav-back-button>
			<!--左上角图标 -->
		      <ion-nav-buttons side="left">
		        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		        </button>
		      </ion-nav-buttons>

		</ion-nav-bar>
		<ion-nav-view name="menuContent">

		</ion-nav-view>

  </ion-side-menu-content>
	<!--
	左侧
    -->
  <ion-side-menu side="left">


    <ion-content class="backcolor" scroll=false>


		<div class="item item-avatar backcolor" style="border-style: initial;padding: 50px;height: 150px;">

		<img src="img/userlogo.png" style="max-width: 65px;max-height: 65px;left: 20px;top: initial;">
		<a menu-close href="#/app/playlists" style="text-decoration: none;">
			<font class="logofont">Amanda</font>
			<font class="logofont-r">></font>
		</a>

		</div>
    <a menu-close class="item item-avatar backcolor-no" href="#/app/history">
      <img src="img/icon_lishi.png" style="border-radius: inherit;max-width: 18px;max-height: 18px;">
      <h2>历史</h2>

    </a>
    <a menu-close class="item item-avatar backcolor-no" href="#/app/settings">

    	<div class="ion-gear-a" style="float: left;color: white;margin-left: -34px;font-size: 23px;"></div>


      <h2>设置</h2>

    </a>

		<div class="bottom-font">Copyright © 2015g-wearables. All rights reserved.</div>
    </ion-content>


  </ion-side-menu>
</ion-side-menus>
