<ion-view view-title="hehe">
    <ion-content>
        <div class="list card">
            <div class="item item-divider"></div>
            <div class="item item-body">
                <p>id:{{device.id}}</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">HeartData</div>
            <ion-list>
                <ion-item>
                    <p>heart:{{heart}}</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>