<style type="text/css">

    body .mainmenu:after { clear: both; content: " "; display: block; }

    body .mainmenu li{
    	text-align: center;
    	 color:#000000;
        float:left;
        margin-left: 2.5%;
        margin-top: 2.5%;
        width: 30%;
        border-radius:3px;
        overflow:hidden;
    }
    body .mainmenu span{
    color:  #C9C7C8;
    }

    body .mainmenu li a{ display:block;  color:#FFF;   text-align:center }
    body .mainmenu li a b{
        display:block; height:80px;
    }
    body .mainmenu li a img{
        margin: 15px auto 15px;
        width: 50px;
        height: 50px;
    }

    body .mainmenu li a span{ display:block; height:30px; line-height:30px;background-color:#FFF; color: #999; font-size:14px; }

    #body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
    #body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
    #body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
    #body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
    #body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
    #body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
    #body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
    #body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}
</style>

<ion-view view-title="{{title}}" cache-view="false">
  <ion-content  class="gw-main-box">


     <div >
    <highchart id="chart1" config="chartConfig"></highchart>

    </div>
    <div style="background-color:#FFFFFF;bottom: 0;">

        <ul class="mainmenu">
        	<li><span>全天里程</span><p>3.92公里</li>
        	<li><span>全天步数</span><p>5654</li>
        	<li><span>全天消耗</span><p>192千卡</li>
        	<li><span>行走里程</span><p>3.92公里</li>
        	<li><span>行走时长</span><p>1小时13分钟</li>
        	<li><span>行走消耗</span><p>192千卡</li>
        	<li><span>跑步里程</span><p>3.92公里</li>
        	<li><span>跑步时长</span><p>10分钟</li>
        	<li><span>跑步消耗</span><p>192千卡</li>

        </ul>
    </div>

  </ion-content>
</ion-view>


