
<ion-view view-title="{{title | translate}}" cache-view="false">
  <ion-content ng-controller="SettingsCtrl">
    <h1>{{SelectLanguage_Lang|translate}}</h1>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#/app/ble">
        {{"BlueSetting"|translate}}

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/app/languageSet">
        {{"SelectLanguage_Lang"|translate}}

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

