<ion-view >

	<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
     <button class="button button-icon button-clear ion-navicon"  menu-toggle="left">
    </button>
  </div>
  <h1 class="title">{{"FunctionList_Lang"| translate}}</h1>
  <div class="buttons">

  </div>
</ion-header-bar>
  <ion-content >
    <ion-list>

      <ion-item class="item-icon-right" id="th1" type="item-text-wrap" ng-click="insertDom()" >
        这是第一个dom

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item  class="item-icon-right" id="th2" type="item-text-wrap" >
        这是第二个dom

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
