<ion-view view-title="{{title | translate}}" cache-view="false">
  <ion-content >
    <ion-list>

      <ion-item class="item-icon-right" type="item-text-wrap" href="#/app/languageSet">
        {{"SelectLanguage_Lang"|translate}}

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/app/sqlite">
        {{"Sqlite_Lang"|translate}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>