
<ion-view view-title="{{title | translate}}" cache-view="false" >
	<!--
    	作者：157595075@qq.com
    	时间：2015-09-16
    	描述：重载上方导航条
		<ion-nav-bar ng-controller="BackCtrl" class="menu-color" >
		  <ion-nav-back-button class="button-clear"
		    ng-click="myGoBack()">
		    <i class="ion-chevron-left" style="color: white;"></i>{{}}
		  </ion-nav-back-button>

		</ion-nav-bar>
    -->


<ion-content ng-controller="LanguageCtrl" >
    <h1>{{SelectLanguage_Lang|translate}}</h1>
	<button class="button" ng-click="changeLanguage('en')" translate="Language_en"></button>
	<button class="button" ng-click="changeLanguage('zh')" translate="Language_zh"></button>
</ion-content>
</ion-view>
