
    
<ion-view >

	<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
  	<a class="button button-icon button-clear ion-chevron-left" href="#/app/functionlist" style="display: block;" style="font-size: 18px;color: white;"></a>

  </div>
  </div>
  <h1 class="title">{{title | translate}}</h1>
  <div class="buttons">

  </div>
</ion-header-bar>  
<ion-content >
    <h1>{{SelectLanguage_Lang|translate}}</h1>
	<button class="button" ng-click="changeLanguage('en')" translate="Language_en"></button>
	<button class="button" ng-click="changeLanguage('zh')" translate="Language_zh"></button>
</ion-content>
</ion-view>
