
<ion-view  >
<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
     <a class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </a>
  </div>
  <h1 class="title">首页</h1>
  <div class="buttons">
  	<a class="button button-icon button-clear ion-android-sync" style="font-size: 24px;color: white;"></a>
  </div>
</ion-header-bar>

  <ion-content >
    <h1>{{SelectLanguage_Lang|translate}}</h1>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#">
				代办
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#">
        	提交
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#">
        	工作交办
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
