<style>
	img{
		border-radius: 60px;
		max-width: 65px;
		max-height: 65px;
		float: left;
		left: 20px;
		top: initial;
	}
	.titl{
		float: left;
		margin-left: 20px;
		line-height: 50px;
	}
</style>


<ion-view cache-view="false">
	<div data-ng-init="load()" ></div>
	<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
  	<a class="button button-icon button-clear ion-chevron-left" menu-close href="#/app/workTask" style="font-size: 18px;color: white;"></a>

  </div>
  <h1 class="title">新建工作</h1>
  <div class="buttons">
 	<a class="button button-icon button-clear ion-android-done" style="font-size: 24px;color: white;" ng-click="submitWork()"></a>
 </div>
</ion-header-bar>
<!--
	作者：157595075@qq.com
	时间：2015-10-20
	描述：

<ion-nav-bar class="bar-stable">

<ion-nav-buttons side="left">
  	<a class="button button-icon button-clear ion-chevron-left" menu-close  href="#/app/workTask" style="font-size: 24px;color: white;"></a>
</ion-nav-buttons>



  	<ion-nav-title>
      	新建工作
    </ion-nav-title>

  <ion-nav-buttons side="right">

  	<a class="button button-icon button-clear ion-android-done" style="font-size: 24px;color: white;"></a>


  </ion-nav-buttons>
</ion-nav-bar>
-->
  <ion-content class="padding">

   <div class="card">
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control" ng-model="xxx.tasktext" ng-change="checkText()"   rows="5" placeholder="请输入文字..."></textarea>
                </div>
            </div>
			<p class="c-black f-500 m-b-20">附件</p>
			    <button ngf-select="uploadFiles($files)" multiple >添加</button>
			    <br>
			    <br>Files:
			    <ul>
			        <li ng-repeat="f in files" style="font:smaller" >
			            {{f.name}}
			        </li>
			    </ul>
			    <span class="progress" ng-show="progress >= 0">
			        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
			    </span>
			    {{errorMsg}}

        </div>
    </div>
  <div class="card">
        <div class="card-body card-padding">

			<p class="c-black f-500 m-b-20">截至日期</p>
			<p class="c-black f-500 m-b-20">负责人</p>
            <ul>
                <li ng-repeat="f in personone" style="font:smaller">
                    {{f.username}}
                </li>
            </ul>
			<a class="button button-icon button-clear ion-android-add" style="font-size: 24px;color:#00A000;" ng-click="GoPage('app.selectPerson','ooooo')"></a>
			<p class="c-black f-500 m-b-20">参与人</p>
            <ul>
                <li ng-repeat="f in personmore" style="font:smaller">
                    {{f.username}}
                </li>
            </ul>

			<a class="button button-icon button-clear ion-android-add" style="font-size: 24px;color: #00A000;" menu-close ng-click="GoPage('app.selectMorePerson','')"></a>
        </div>
    </div>
  </ion-content>
</ion-view>
