


<ion-view >

	<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
  	<a class="button button-icon button-clear ion-chevron-left" href="#/app/workTask" style="font-size: 18px;color: white;"></a>

  </div>
  <h1 class="title">新建工作</h1>
  <div class="buttons">
 	<a class="button button-icon button-clear ion-android-done" style="font-size: 24px;color: white;" ng-click="submitWork()"></a>
 </div>
</ion-header-bar>

  <ion-content class="padding">




       
                    <textarea class="form-control" ng-model="xxx.tasktext" ng-change="checkText()"   rows="5" placeholder="请输入文字..."></textarea>

 
  <div class="card">


    <div class="item item-text-wrap">

      <a class="button button-icon button-clear ion-android-add"  ngf-select="uploadFiles($files)" multiple >附件</a>

      <ul>
        <li ng-repeat="f in files" style="font:smaller" >
          {{f.name|tozh}}
      <button ng-if="files.length"
      class="button button-icon ion-android-close input-button"
      ng-click="clearfile(f)">
        </li>
        
      </ul>

			    <span class="progress" ng-show="progress >= 0">
			        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
			    </span>
      {{errorMsg}}

    </div>

			<div class="item item-divider">截至日期</div>
    <!--<div ui-calendar ng-model="eventSources"></div>-->

      <div class="input-group">

        <input type="text" class="form-control" uib-datepicker-popup ng-model="xxx.dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </div>

			<div class="item item-divider">负责人</div>

      <div class="item item-text-wrap">
            <a class="button button-icon button-clear ion-android-add" style="font-size: 24px;color:#00A000;" menu-close  ng-click="GoPage('app.selectPerson')" ></a>
        {{message}}
        <ul>
                <li  ng-repeat="f in personone" style="font:smaller">
                    {{f.username}}
                </li>
            </ul>
      </div>

     <div class="item item-divider">参与人</div>

    <div class="item item-text-wrap">
            <a class="button button-icon button-clear ion-android-add" style="font-size: 24px;color: #00A000;" menu-close  ng-click="GoPage('app.selectMorePerson')"></a>

          <ul >
                <li  ng-repeat="f in personmore" style="font:smaller">
                    {{f.username}}
                </li>
            </ul>


    </div>

  </ion-content>
</ion-view>
