
<ion-view  >
<ion-nav-bar class="bar-stable" >
  <ion-nav-back-button>
  </ion-nav-back-button>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>

  </ion-nav-buttons>
    	<ion-nav-title>
      	扫一扫
    </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-android-sync">
    </a>
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content >
    <h1>{{SelectLanguage_Lang|translate}}</h1>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#">
			加好友
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#">
        	收藏夹
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#" ng-click="scanBarcode()">
        	扫一下
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#" ng-click="scanBarcode()">
        	批量扫
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>