<style>
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.list .my-item.item {
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
</style>


<ion-view cache-view="false">
<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">

  </div>
  <h1 class="title">选择组织成员</h1>
  <div class="buttons">
	  	<a class="button button-icon button-clear ion-android-sync" menu-close href="#"></a>
	  	<a class="button button-icon button-clear ion-android-done" style="font-size: 24px;color: white;" menu-close  ng-click="GoPage('app.newTask','ooooo')"></a>
</div>
</ion-header-bar>

  <ion-content>

    <div class="list">
    	    <input type="search"
      placeholder="关键字"
      ng-model="ctrlScope.search"
      ng-focus="searchFocused = true"
      ng-blur="searchFocused = false"
      ng-change="scrollTop()">
    <button ng-if="search.length"
      class="button button-icon ion-android-close input-button"
      ng-click="clearSearch()">
    </button>
    <ion-list>
      <ion-item class="item item-checkbox" afkl-image-container
        collection-repeat="item in getContacts()"
        collection-item-height="getItemHeight(item)"
        collection-item-width="getItemWidth(item)"
        ng-style="{'line-height': getItemHeight(item) + 'px'}"
        ng-class="{'item-divider': item.isLetter}"
        >

     <label ng-if="!item.isLetter" class="checkbox">
       <input type="checkbox" id={{item.id}} name="{{item.first_name}}" ng-checked="isSelected(item.id)" ng-click="updateSelection($event,item.id)">
     </label>

          <div ng-if="!item.isLetter" afkl-lazy-image="http://placekitten.com/60/{{55 + ($index % 10)}}"></div>
          {{item.letter || (item.first_name+' '+item.last_name)}}

          <!--
          <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">
                  <img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
                  {{item.letter || (item.first_name+' '+item.last_name)}}
              </div>
              <i class="radio-icon ion-checkmark"></i>
          </label>
            -->
      </ion-item>


    </ion-list>

    </div>
  </ion-content>

</ion-view>
