


<ion-view >

  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <a class="button button-icon button-clear ion-chevron-left" href="#/app/workTask" style="font-size: 18px;color: white;"></a>

    </div>
    <h1 class="title">工作单</h1>
    <div class="buttons">
      <a class="button button-icon button-clear ion-android-done" style="font-size: 24px;color: white;" ng-click="submitWork()"></a>
    </div>
  </ion-header-bar>

  <ion-content class="padding">

    <div class="list">

      <div class="item">
        <textarea class="form-control" ng-model="xxx.tasktext" ng-change="checkText()"   rows="5" placeholder="请输入文字..."></textarea>
      </div>
    </div>





  </ion-content>
</ion-view>
