
<ion-view data-ng-init="onRefresh()">
<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
     <a class="button button-icon button-clear ion-navicon"  menu-toggle="left">
    </a>
  </div>
  <h1 class="title">工作交办(18)</h1>
  <div class="buttons">
  	<a class="button button-icon button-clear ion-android-add" style="font-size: 24px;color: white;"  ng-click="GoPage('app.newTask')"></a>
  </div>
</ion-header-bar>

  <ion-content class="padding">

    <ion-refresher
            on-refresh="onRefresh()"
            pulling-text="下拉更新"
            refreshing-text="更新中..."
            refreshing-icon="circles"
            >
    </ion-refresher>
    <div class="item item-divider">
      我关注
    </div>
    <ion-list >
      <ion-item class="item item-icon-right" ng-click="showItem(item)"  ng-repeat="item in list"  type="item-text-wrap">
        <div afkl-image-container><div afkl-lazy-image="{{runtimeImageSrc}}" ></div>
        </div>
				<div class="titl item-text-wrap" style="font-size: 14px;color:#454545;">
					{{item.data.tasktxt}}--{{item.workid}}
				</div>
				<div style="clear:both;font-size: 8px;padding: 4px;color: #696969;">

					<div style="float: left;">
							 <ul>
							 	<li  style="float: left; margin-right: 20px;" ng-if="item.creatime!=null" style="font:smaller">
				                   <span class="ion-ios-clock-outline" style="font-size: 18px;"></span> {{item.data.creatime}}
				                </li>
				                <li  style="float: left; margin-right: 20px;" ng-if="item.data.fujian.length>0" style="font:smaller">
				                   <span class="ion-paperclip" style="font-size: 22px;"></span> {{item.data.fujian.length}}
				                </li>
			           		 </ul>
					</div>
				</div>
				<div style="clear:both;font-size: 8px;padding: 4px;color: #696969;">负责人：{{item.data.taskleader[0].username}}</div>
				<div style="clear:both;font-size: 8px;padding: 4px;color: #696969;">
					<div style="float: left;">参与人：</div>
					<div style="float: left;">
							 <ul>
				                <li style="float: left; margin-right: 20px;" ng-repeat="z in item.data.taskpersonmore" style="font:smaller">
				                    {{z.username}}
				                </li>
			           		 </ul>
					</div>
				</div>


      <i class="icon ion-chevron-right  icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="item item-divider">
      我负责
    </div>
    <div class="item item-divider">
      我参与
    </div>
    <div class="item item-divider">
      我委托
    </div>
    <div class="item item-divider">
      已关闭
    </div>
  </ion-content>
</ion-view>
