
<ion-view view-title="lydemo">
  <ion-content class="padding">


        <div class="col-sm-6 col-md-3" ng-click="GoPage('app.highchart','ooooo')">
          <div class="mini-charts-item bgm-lightgreen">
              <div class="clearfix">
                  <div class="chart stats-bar-2" data-sparkline-bar></div>
                  <div class="count">
                      <small>Website Impressions</small>
                     <h2>356,785K</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-3">
          <div class="mini-charts-item bgm-orange">
              <div class="clearfix">
                  <div class="chart stats-line" data-sparkline-line></div>
                  <div class="count">
                      <small>Total Sales</small>
                      <h2>$ 458,778</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-3">
          <div class="mini-charts-item bgm-bluegray">
              <div class="clearfix">
                  <div class="chart stats-line-2" data-sparkline-line></div>
                  <div class="count">
                      <small>Support Tickets</small>
                      <h2>23,856</h2>
                  </div>
              </div>
          </div>
      </div>
      </div>


  </ion-content>
</ion-view>
