
<ion-slide-box style="z-index: 999;">
    <ion-slide style="background-color: red">
        <div ><h1 style="color: white">这里是蓝宇企业级ionic案例库</h1></div>
    </ion-slide>
    <ion-slide style="background-color:#991144">
        <div ><h1 style="color: white">主要特点:1,解决大型APP应用中ionic性能使接近原生.2,整合大量常用的第三方插件,如bootstrap,highchart,相机,录音,扫码等</h1></div>
    </ion-slide>
    <ion-slide on-slide-changed="slideHasChanged(index)"  style="background-color:midnightblue">
        <div ><h1 style="color: white">总结了一些实战中实现的方法并详细注释.官网www.360lzy.com</h1></div>
        <a class="btn btn-primary"  href="#/app/index">进入应用</a>
    </ion-slide>
</ion-slide-box>

