<style>
	.backcolor{
		background-color: #444444;
	}
	.logofont{
		position: absolute;
		padding: 20px;
		color: white;
		float: left;
		left: 90px;
		font-size: 20px;
	}
		.logofont-r{
		position: absolute;
		padding: 20px;
		color: white;
		float: left;
		right: 45px;
		font-size: 20px;
	}
.leftMenuborder{
    background-color: transparent;	
       border-color: deepskyblue;
}

.item-complex .item-content{

    background-color: transparent;
}
	.backcolor-no{
		background-color: #444444;
		border-color: #444444;
		padding-left: 50px;
		min-height: 50px;
	}
	h2{
		#padding: 8px;
		color: white;
	}
	.menu-img{
		border-radius: inherit;
		max-width: 18px;
		max-height: 18px;
	}
	.bottom-font{
		position: absolute;
		bottom: 0px;
		font-size: 10px;
		color: white;
		width: 264px;
		left: 50%;
		margin-left: -132px;

	}
	.bar {
	    background-color:#3074C1;

	    color:#fff;
		border-bottom: 0px solid #3074C1;
	}
	.item.leftMenuborder .item-content.activated{
		background-color:transparent;
	}
	.item .item-content.activated{
		background-color:lightyellow;
	}
	.bar-header {
	top: 0;
	border-top-width: 0;
	border-bottom-width: 0px;
	}
	.bar .title {
	background-color:#3074C1;
	}
	.bar.bar-stable {

	background-color:#3074C1;
	border-color: #3074C1;
	background-color: #3074C1;
	background-image: linear-gradient(0deg, #3074C1, #3074C1 50%, transparent 50%);
	}
	.bar.bar-stable .title {
	color: #ffffff;
	}
</style>
<ion-side-menus enable-menu-with-back-views="true" style="background: url('img/left.jpg') repeat;" >

  <ion-side-menu-content >

	<ion-nav-view name="menuContent" >

	</ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" style="background: url('img/left.jpg') repeat;">
    <!--<ion-header-bar class="bar-stable">
      <h1 class="title">{{"Catalog_Lang"| translate}}</h1>
    </ion-header-bar>-->
    <img src="img/ionic.png"  ng-click="login()">
    <ion-content has-bouncing="true" style="top:100px">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/index" class="leftMenuborder item-icon-right">
			<font color="white">{{"Index_Lang"| translate}}</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
       
       <ion-item nav-clear menu-close href="#/app/workTask" class="leftMenuborder item-icon-right">
			<font color="white">{{"WorkTask_Lang"| translate}}</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/amap" class="leftMenuborder item-icon-right">
			<font color="white">{{"Amap_Lang"| translate}}</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/scancode" class="leftMenuborder item-icon-right">
			<font color="white">{{"Scan_Lang"| translate}}</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/highchart" class="leftMenuborder item-icon-right">
			<font color="white">highchart</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/functionlist" class="leftMenuborder item-icon-right">
			<font color="white">{{"FunctionList_Lang"| translate}}</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/domcase" class="leftMenuborder item-icon-right">
			<font color="white">DOM操作</font>
			<i class="icon ion-chevron-right  icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
<!--
  <ion-side-menu side="right">

    <ion-content>
      <ion-list>

      </ion-list>
    </ion-content>
  </ion-side-menu>
 -->
</ion-side-menus>
