
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.item img {
  height: 60px;
  width: 60px;
  float: left;
border-radius: 50%;
  margin-right: 10px;
}
.list .my-item.item {
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
